<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="サンプル・カテゴリー"
            id="ImmidiateCloneDetection.commands.category">
      </category>
      <command
            name="モニタリング開始"
            categoryId="ImmidiateCloneDetection.commands.category"
            id="ImmidiateCloneDetection.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="ImmidiateCloneDetection.commands.sampleCommand"
            class="immediateCloneDetection.handlers.SampleHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="コードクローン即時検出"
               mnemonic="M"
               id="ImmidiateCloneDetection.menus.sampleMenu">
            <command
                  commandId="ImmidiateCloneDetection.commands.sampleCommand"
                  mnemonic="S"
                  id="ImmidiateCloneDetection.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="ImmidiateCloneDetection.toolbars.sampleToolbar">
            <command
                  commandId="ImmidiateCloneDetection.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="Say hello world"
                  id="ImmidiateCloneDetection.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="ImmidiateCloneDetection.category"
            name="result">
      </category>
      <view
            category="ImmidiateCloneDetection.category"
            class="immediateCloneDetection.Result"
            id="ImmidiateCloneDetection.view"
            name="result"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="immediateCloneDetection.extractionAnnotation"
            colorPreferenceKey="extractionAnnotation_color"
            colorPreferenceValue="192,255,192"
            contributesToHeader="false"
            highlightPreferenceKey="extractionAnnotation_highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            isGoToNextNavigationTarget="true"
            isGoToNextNavigationTargetKey="extractionAnnotation_nextNavigationTarget"
            isGoToPreviousNavigationTarget="true"
            isGoToPreviousNavigationTargetKey="extractionAnnotation_previousNavigationTarget"
            label="Extracted Code"
            overviewRulerPreferenceKey="extractionAnnotation_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="extractionAnnotation_nextPrevDropdownToolbar"
            textPreferenceKey="extractionAnnotation_text"
            textPreferenceValue="true"
            textStylePreferenceKey="extractionAnnotation_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="extractionAnnotation_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
   </extension>

</plugin>
